@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../img/bg.svg');
	background-size: cover;
}

.agenda{
	width: min-content;
	height: min-content;
	padding: 40px;
	background: #fff;
	text-align: center;
	border-radius: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.agenda h1{
	font-size: 1.6rem;
	font-weight: 700;
	color: #124ce7;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.agenda table{
	width: 400px;
	height: 150px;
}

.agenda a, input[type="button"]{
	text-decoration: none; /* Link sem decoração padrão: azul e sublinhado. */
	background: linear-gradient(0deg, #124ce7, #3784ff);
	padding: 5px 10px 5px 10px; /* Espaçamento interno do conteúdo */ 
	color: #fff; /* Cor da fonte */
	font-size: 1.2em; /* Tamanho da fonte */
	font-weight: 700; /* Peso da fonte */
	border-radius: 5px; /* Curvatura do botão */ 
	text-transform: uppercase; /* Transformando as letras em maíusculas */
	border: 0; /* Removendo a sombra */
	cursor: pointer; /* Transformando o ponteiro do mouse em clicável */
}

.agenda table input{
	width: 100%;
	height: 30px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.agenda table input:focus{
	border-color: #124ce7;
	box-shadow: 0 0 12px #bbd3ff;
}

#tabela{
	margin-top: 30px;
	border-collapse: collapse; /* Removendo o espaçamento células da tabela. */
}

#tabela th{
	border: 1px solid #101010;
	padding: 10px;
	min-width: 150px;
	text-align: center;
	background: #124ce7;
	color: #fff;
}

#tabela td{
	border: 1px solid #101010;
	padding: 10px;
}